@use "src/styles/mixins" as m;

.modalWrapper {
  @include m.flexbox(center, center, column);
  position: absolute;
  z-index: var(--z-global-to-top);
  width: 300px;
  height: 100%;
  background-color: rgba(var(--color-black-rgb), 0.5);
}
