@use "src/styles/mixins" as m;

.mapWrapper {
  @include m.flexbox("end", "start");
  height: 100vh;
}

.buttonTap {
  position: absolute;
}

.geoName {
  position: absolute;
  align-self: end;
  right: 35%;
  opacity: 50%;
  border: solid black;
}
